.article-a {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    background-color: #b6b6b6;
    color: #2d2d2e;
    @media screen  and (max-width: 768px){
        width: 90%;
        padding: 20px;
        
    }

    .article-notion-container{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // margin-bottom: 20px;
        width: 100%;
        max-width: 800px;
        background-color: #b6b6b6;
        color: #2d2d2e;
        @media screen  and (max-width: 768px){
            width: 90%;
            
        }
    }

    .article-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .article-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        border-bottom: 2px solid #493599;
    }

    .article-date {
        font-size: 14px;
        color: #888;
    }

    .article-description {
        margin-top: 10px;
        font-size: 18px;
    }

    .article-tag{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .article-share-title{
        align-self: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        padding: 0 20px;
        border-bottom: 2px solid #493599;
    }

    .article-share-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        .article-share{
            padding: 0 10px;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}
