.article-a {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 10px;
    width: 80%;
    background-color: #b6b6b6;
    color: #2d2d2e;

    .article-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .article-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        border-bottom: 2px solid #493599;
    }

    .article-date {
        font-size: 14px;
        color: #888;
    }

    .article-description {
        margin-top: 10px;
        font-size: 18px;
    }

    .article-readmore {
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        .article-readmore {
            opacity: 1;
        }
    }

    .article-back {
        display: inline-block;
        color: #2d2d2e;
        transition: color 0.3s ease;

        &:hover {
            color: #6a6a6a;
        }
    }
}