.Profile-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-image: linear-gradient(#cd3cf9, #361871);
    background-color: #333;
    top: 0;
    width: 300px;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 5px;
    position: sticky;
    top: 100px;

    @media screen and (max-width: 1024px) {
        width: 80%;
        max-width: 300px;
        position: static;
    }

    .profile-image-container {
        height: 150px;
        width: 150px;
        overflow: hidden;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            height: 100px;
            width: 100px;

        }

        .profile-image {
            display: block;
            min-width: 100%;
            height: auto;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .profile-icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        margin-bottom: 10px;
    }

    .icon {
        border-radius: 3px;
        padding: 5px;
        margin: 0 5px;
        width: 75px;
        transition: background-color 0.3s ease;
    }

    .twitter-icon {
        background-color: #1DA1F2;

        &:hover {
            background-color: #74beed;
        }
    }

    .github-icon {
        background-color: #020202;

        &:hover {
            background-color: #7f7f7f;
        }
    }

}