a {
  align-items: center;
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

body {
  background-color: rgb(53, 53, 53);
  color: #fff;
}

img {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

p {
  font-size: 1.0rem;
  line-height: 2.0rem;

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}