.post-a {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
}

.single-post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #493599;
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.1);
    max-width: 900px;
    max-height: 150px;
    overflow: hidden;
    width: 100%;
    width: 800px;

    @media screen and (max-width: 1024px) {
        // width: 80%;
        max-width: 100%;
        max-height: 100%;
        // min-width: 100%;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(239, 239, 239, 0.3);
    }

    .post-dateandtitle{
        display: flex;
        flex-direction: column;
    }

    .post-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .post-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    .post-date {
        font-size: 14px;
        color: #888;
    }

    .post-description {
        margin-bottom: 10px;
        font-size: 18px;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: visible;
        text-overflow: ellipsis;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    .post-readmore {
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        transition: opacity 0.3s ease;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    &:hover {
        .post-readmore {
            opacity: 1;
        }
    }
}